@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"] {
  color-scheme: light;
}

.dark input[type="date"] {
  color-scheme: dark;
}

.logo-loader {
  animation: logoFlip 2s ease-in-out infinite;
  transform-style: preserve-3d;
}

@keyframes logoFlip {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}